.navbar {
    width            : 100%;
    min-height       : 48px;
    display          : flex;
    background-color : navy;
    padding-left     : 15px;
    user-select      : none;
}
.navbar-menu-icon, .navbar-menu-icon div {
    display         : inline-flex;
    justify-content : space-around;
    align-items     : center;
    min-width       : 96px;
    color           : white;
    font-size       : 2rem;
    text-align      : center;
    margin-left     : 15px;
    text-decoration : none ;
    
}
.navbar-menu-icon:hover, .navbar-menu-icon div:hover {
    color  : dodgerblue;
    cursor : pointer;
}
.navbar-menu-icon div span{
    color:inherit
}
.navbar-menu-icon div span{
    font-size : 2.5rem;
    padding   : 0px 5px;
}
