.registerevent-container{
    width            : 100%;
    max-width        : 1240px;
    flex-direction   : column;
    align-self       : center;
    align-items      : center;
    display          : flex;
    background-color : white;
    border           : 2px solid rgba(0,0,0,0.1);
    border-radius    : 10px;
    margin           : 20px;
    padding          : 10px;
    user-select      : none;
}
.registerevent-title{
    width      : 100%;
    font-size  : 4rem;
    color      : #333;
    text-align : center;
    padding    : 5px;
}
.registerevent-form-label{
    font-size   : 2rem;
    line-height : 1.75;
    color       : #333;
}
.registerevent-form-input{
    font-size     : 2rem;
    border        : 1px solid gray;
    border-radius : 6px;
    line-height   : 1;
    padding       : 5px 10px;
}
.registerevent-form-button{
    min-width        : 64px;
    align-self       : flex-end;
    margin           : 20px;
    font-size        : 1.75rem;
    color            : rgb(255, 255, 255);
    background-color : #4CAF50;
    line-height      : 1.5;
    padding          : 12px 20px;
    border           : 0px; 
    border-radius    : 8px;
    margin-left      : 15px;
    cursor           : pointer;
}

.registerevent-form-textarea{
    font-size     : 1.9rem;
    border        : 1px solid gray;
    border-radius : 6px;
    line-height   : 1;
    padding       : 5px 10px;
}
.registerevent-form-input-img{
    font-size     : 2rem;
    border        : 1px solid gray;
    border-radius : 6px;
    line-height   : 1;
    padding       : 5px 10px;
}
.registerevent-status-red, .registerevent-status-green {
    font-size  : 2rem;
    width      : 50%;
    text-align : center;
    padding    : 10px;
}
.registerevent-status-red{
    background-color: red;
    color:white;
}
.registerevent-status-green{
    background-color: green;
    color:white;
}
.registerevent-register-error{
    font-size     : 1.5rem;
    text-align    : start;
    padding       : 2px 0px;
    margin-bottom : 2px;
    color         :red;
    /* height        : px; */
}


@media only screen and (max-width: 600px) {
    /* *{border:1px solid red;} */
    .registerevent-form-input-img{
        max-width: 256px;
    }
    .registerevent-container{
        margin        : 5px;
        margin-top    : 20px;
        margin-bottom : 20px;
    }
    .registerevent-title{
        font-size  : 3rem;
    }
}






