.home-container{
    width           : 100%;
    margin          : 10px;
    justify-content : space-around;
    user-select     : none;
}
.home-container-top {
    display : flex;
}
.home-container-top-column {
    width   : 100%;
    margin  : 0 8px;
}
.home-container-top-column:hover {
    cursor    : pointer;
    color     : dodgerblue;
    transform : scale(1.015);
}
.home-container-top-card {
    box-shadow       : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color :darkblue;
    border-radius    : 6px;
}
.home-container-top-card p,  .home-container-top-card h3{
    font-size      : 2rem;
    text-align     : center;
    color          : white;
    padding        : 16px;
    letter-spacing : 1px;
    word-spacing   : 4px;
    /* border: 1px solid red; */
}
.home-container-top-card h3{
    font-size      : 2.5rem;
}

.home-container-center{
    width       : 100%;
    padding     :5px;
    /* justify-content: space-around; */
}
.home-container-list-info{
    width            : 100%;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    background-color : white;
    border           : 2px solid rgba(0,0,0,0.1);
    border-radius    : 6px;
    user-select      : none;
    padding-bottom   : 10px;
    margin-bottom    : 20px;
}
.home-container-list-info-title{
    width            : 100%;
    font-size        : 2.3rem;
    /* font-weight      : bold;*/
    text-align       : start;
    padding          : 10px;
    border-radius    : 6px 6px 0px 0px;
    letter-spacing   : 1px;
    word-spacing     : 4px;
}
.home-event{
    display : flex;
    width   : 100%;
    padding : 10px 10px 0px 10px;;   
}
.home-event-img{
    width         : 128px;
    height        : 128px;
    border-radius : 4px;
    margin-right  : 10px;   
}
.home-event-info-container{
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}
.home-event-text-p{
    font-size   : 1.75rem;
    font-weight : 600;
}
.home-event-text{
    font-size   : 1.75rem;
    font-weight : normal;
}
.home-open-event-button{
    color             : rgb(255, 255, 255);
    background-color  : rgb(46, 125, 50);
    font-size         : 1.5rem;
    letter-spacing    : 0.03em;
    line-height       : 1.75;
    min-width         : 64px;
    margin-top        : 2px;
    padding           : 3px 8px;
    border            : 0px; 
    border-radius     : 4px;
    cursor            : pointer;
}
.home-container-top-card-month{
    font-size   : 2rem;
    font-weight : bolder;
    color       :lightskyblue;
}

