.registeruser-container{
    width            : 100%;
    max-width        : 1240px;
    flex-direction   : column;
    align-self       : center;
    align-items      : center;
    display          : flex;
    background-color : white;
    border           : 2px solid rgba(0,0,0,0.1);
    border-radius    : 10px;
    margin           : 20px;
    padding          : 10px;
    user-select      : none;
}
.registeruser-title{
    width      : 100%;
    font-size  : 4rem;
    text-align : center;
    padding    : 5px;
}
.registeruser-form-label{
    font-size   : 2rem;
    margin-top  : 10px;
    line-height : 1.75;
    color       : #333;
}
.registeruser-form-input{
    font-size     : 2rem;
    border        : 1px solid gray;
    border-radius : 6px;
    line-height   : 1;
    padding       : 5px;
}
.registeruser-form-button{
    min-width        : 64px;
    align-self       : flex-end;
    margin           : 10px;
    font-size        : 1.75rem;
    color            : rgb(255, 255, 255);
    background-color : #4CAF50;
    line-height      : 1.5;
    padding          : 12px 20px;
    border           : 0px; 
    border-radius    : 8px;
    margin-left      : 15px;
    cursor           : pointer;
}
.registeruser-register-error{
    font-size   : 1.5rem;
    color       :red;
    height      : 14px;
    text-align  : right;
}
.registeruser-form-input-img{
    width         : 206px;
    font-size     : 1.5rem;
    border        : 1px solid gray;
    border-radius : 6px;
    line-height   : 1;
    padding       : 5px 10px;
}
.registeruser-status-red,.registeruser-status-green {
    font-size  : 2rem;
    width      :50%;
    text-align : center;

    padding    : 10px;
}
.registeruser-status-red{
    background-color: red;
    color:white;
}
.registeruser-status-green{
    background-color: green;
    color:white;
}


@media only screen and (max-width: 600px) {
    /* *{border:1px solid red;} */
    .registeruser-form-input-img{
        max-width: 256px;
    }
    .registeruser-container{
        margin        : 5px;
        margin-top    : 20px;
        margin-bottom : 20px;
    }
    .registeruser-title{
        font-size  : 3rem;
    }

}
