.leftbar-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    border-right:2px solid rgba(0,0,0,0.1);
    border-radius: 0px 4px 0px 0px;
}
.leftbar-aside-li {
    font-size: 2.5rem;
    padding: 8px;
    padding-right: 50px;
    text-decoration: none;
    color: black;
    display: block;
    user-select: none;
}
.leftbar-aside-li:hover{
    cursor: pointer;
    background-color: #ddd;
    border-radius: 0px 4px 4px 0px;
}
